@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Luckiest+Guy&display=swap");

@font-face {
    font-family: "UraBumBumSP";
    src: url("/fonts/UraBumBumSP.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}
body {
    font-family: "Catamaran", sans-serif;
    box-sizing: border-box;
    /* font-size: 16px; */
}
